<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block page_title %} {% if page_title is defined %} {{ page_title }} {% else %}Acme {% endif %} {% endblock %}</title>
        <link rel="stylesheet" href="assets/css/app.css">

    </head>
    <body>
        {% include 'components/nav.html.twig' %}
        <div class="container">
            <header class="row">
                {% block header %}{% endblock %}
            </header>
            <section>
                {% block content %}
                    Insert content here.
                {% endblock %}
            </section>
        </div>

        <script type="text/javascript" src="assets/node_modules/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="assets/node_modules/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/app/app.js"></script>
        {% block script %}{% endblock %}
        </body>
</html>
